.h1 {
  font-size: 48px;
  color: dodgerblue;
  font-weight: 700;
  font-style: italic;
}

.h2 {
  font-size: 36px;
  color: white;
}

.h2b {
  font-size: 36px;
  color: cyan;
  font-weight: 700;
}

.h4 {
  font-size: 20px;
  color: white;
}

.h4b {
  font-size: 20px;
  color: cyan;
  font-weight: 700;
}

.h5 {
  font-size: 16px;
  color: white;
  font-weight: 400;
}